


h1 {
    color: green;
}

p {
    margin: 20px 30px;
    
}

#red {
    color: red;
}
x

.tamaño{
    font-weight: bold;
}

.negritas {
    font-weight: bold;
}
span {
    font-weight: bold;
    font-size: 20px;
}
